.header__nav,
.section__main-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.section__main-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header__logo,
.section__main-title {
  font-family: 'PT Serif', serif;
}
